.header {
  z-index: 3;
  opacity: 0;
  transition: 0.3s ease;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &.on {
    opacity: 1;
    transition: 1s ease;
  }
  .gruop-box {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 25px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 48.99px;
      border-radius: 4px;
      background: #fff;
      color: #000;
      font-weight: 800;
      font-size: 20px;
    }
    .gruop-nav {
      .report {
        display: flex;
        gap: 10px;
        button {
          display: block;
          background: #fff;
          color: #000;
          width: 177.99px;
          height: 48.99px;
          border-radius: 70px;
          font-weight: 800;
          font-size: 20px;
        }
        .menu {
          width: 48px;
          height: 48px;
          border-radius: 4px;
        }
      }
    }
  }
}
